
<title>Site Moved</title>
</script>
<body>
<style>
a.button:link, a.button:visited{
  background-color: #FFFFFF;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  }
  
a.headerlink:link,a.headerlink:visited {
 color: white;
 text-decoration: none;
  }


</style>

<body style="background-color:black;font-family:courier,arial,helvetica;color:white;">


<center>

<a class="headerlink" href="http://aidanc.me"><h1> AIDAN COMI</h1></a>
<meta http-equiv="refresh" content="0; URL=http://aidanc.me" />

  <h2> If you are not redirected click below!</h2>

<a class="button" href="http://aidanc.me" target="_blank">New Site</a><p></p>


</center>

</body>
</html>
